template(name='cashier')
  .cashier
    .row
      .col.s12.m5
        .row
          .col.s12
            .actions
              .row
                if table_selected
                  with table_selected
                    .col.s8
                      h4 当前台号: #{id}
                      if occupied
                        p 状态： 使用中
                      else
                        p 状态： 空闲
                      p 款项： 未支付
                      p 人数： 4人
                      p 其他信息
                    .col.s4
                      .action-group.right
                        if reserved
                          button.reserve.waves-effect.waves-light.btn.disabled 预定
                          button.occupy.waves-effect.waves-light.btn(tableName='#{id}') 开台
                          button.print.waves-effect.waves-light.btn 打印
                          button.check.waves-effect.waves-light.btn 结账
                        else if occupied
                          button.reserve.waves-effect.waves-light.btn.disabled 预定
                          button.occupy.waves-effect.waves-light.btn.disabled 开台
                          button.print.waves-effect.waves-light.btn 打印
                          button.check.waves-effect.waves-light.btn 结账
                        else
                          button.reserve.waves-effect.waves-light.btn 预定
                          button.occupy.waves-effect.waves-light.btn(tableName='#{id}') 开台
                          button.print.waves-effect.waves-light.btn 打印
                          button.check.waves-effect.waves-light.btn 结账
                else
                  h4 请选择台面
          .col.s12
            .tables
              .row
                each tables
                  .col.s4.center
                    if $eq _id tableId_selected
                      if reserved
                        button.table.waves-effect.waves-light.btn.btn-flat.selected(tableId='#{_id}') #{id}
                          i.fa.fa-circle-o-notch
                      else if occupied
                        button.table.waves-effect.waves-light.btn.btn-flat.selected(tableId='#{_id}') #{id}
                          i.fa.fa-cutlery
                      else
                        button.table.waves-effect.waves-light.btn.btn-flat.selected(tableId='#{_id}') #{id}
                    else
                      if reserved
                        button.table.waves-effect.waves-light.btn.btn-flat(tableId='#{_id}') #{id}
                          i.fa.fa-circle-o-notch
                      else if occupied
                        button.table.waves-effect.waves-light.btn.btn-flat(tableId='#{_id}') #{id}
                          i.fa.fa-cutlery
                      else
                        button.table.waves-effect.waves-light.btn.btn-flat(tableId='#{_id}') #{id}
      .col.s12.m7
        .order
          if order
            with order
              h5.right 循环牛餐厅
              p 台号:  #{tableName}
              p 服务员:  #123
              p 时间日期: #{createdAt}
              .section
              table.centered.highlight
                thead
                  tr
                    th 菜名
                    th 数量
                    th 单价
                tbody
                  each dishes
                    tr
                      td 
                        a.remove_dish(href='#', dish_name='#{name}', dish_options='#{options}').left x
                        span #{name}
                        if options
                          br
                          small #{options}
                      td 
                        a.remove_dish_count(href='#', dish_name='#{name}', dish_count='#{count}', dish_options='#{options}') -
                        span #{count}
                        a.add_dish_count(href='#', dish_name='#{name}', dish_count='#{count}', dish_options='#{options}') + 
                      td #{price}
                  .section
                  tr
                    td -
                    td -
                    td
                      h5 总价
                      hr
                      h4 #{total}
          else
            h4
              i.fa.fa-smile-o
    #check_modal.modal
      with order
        .modal-content
          h4 账目明细
          .section
          h5 款项
          br
          .row
            .col.s12.m6
              input#total.disabled(type='number', value='#{total}')
              label(for='total') 应收
            .col.s12.m6
              input#actual(type='number', value='#{total}')
              label(for='actual') 实收
          .section
          h5 结账方式
          hr
          p
            input#method_cash(name='method', type='radio', value='cash', checked='checked')
            label(for='method_cash') 现金
          p
            input#method_pos(name='method', type='radio', value='pos')
            label(for='method_pos') POS机
          p
            input#method_alipay(name='method', type='radio', value='alipay')
            label(for='method_alipay') 支付宝
          p
            input#method_weixin(name='method', type='radio', value='weixin')
            label(for='method_weixin') 微信支付
          hr
          .section
        .modal-footer
          a#check_confirm.modal-action.waves-effect.waves-light.btn 确认
          a.modal-action.modal-close.waves-effect.waves-light.btn.salmon 取消