template(name='waiter_layout')
  .waiter_layout
    .navbar-fixed
      nav.nav-extended
        .nav-wrapper
          a.brand-logo(href='#')
            img.responsive-img(src='../logo.png')
            | | 点餐
          ul.right.hide-on-med-and-down
            li
              a#show_table_model.waves-effect.waves-light.btn #{currentUser.username} | #{table_selected.id}
            li
              a#check_order.waves-effect.waves-light.btn-large.amber 已点
          ul#mobile.side-nav
            li
              a#show_table_model.waves-effect.waves-light.btn #{currentUser.username} | #{table_selected.id}
            li
              a#check_order.waves-effect.waves-light.btn-large.amber 已点
    .panel
      +yield

    #table_modal.modal.bottom-sheet
      .modal-content
        //- small * 灰色为未开台或已被预定，请联系吧台。
        //- hr
        each tables
          if occupied
            a.select_table.waves-effect.waves-light.btn.btn-large #{id}
              i.fa.fa-cutlery
          else if reserved
            a.select_table.waves-effect.waves-light.btn.btn-large #{id}
              i.fa.fa-circle-o-notch
          else
            a.waves-effect.waves-light.btn.btn-large.grey.disabled #{id}
        a#logout.waves-effect.waves-light.btn.btn-large.btn-floating.red(href='#')
          i.fa.fa-sign-out

    #order.slide_panel
      .order
        if order
          with order
            if ready
              a.btn.btn-flat.btn-large.lightgrey 已下单
            else
              a#confirm.btn.btn-large.btn-floating.btn-large 下单
            table.centered.highlight
              thead
                tr
                  th
                  th 
                    h4 菜名
                  th 
                    h4 数量
                  th 
                    h4 单价
              tbody
                each dishes
                  tr
                    td
                      if $eq status 'waiting'
                        a(href='#', dish_name='#{name}', dish_options='#{options}').btn.btn-large
                          i.fa.fa-circle-o-notch  准备中
                      if $eq status 'cooking'
                        a(href='#', dish_name='#{name}', dish_options='#{options}').btn.btn-large.orange
                          i.fa.fa-fire  制作中
                      if $eq status 'delivering'
                        a.finish(href='#', dish_name='#{name}', dish_options='#{options}').btn.btn-large.green
                          i.fa.fa-circle-o  送达中
                      if $eq status 'finished'
                        a.btn.btn-large.green
                          i.fa.fa-check-circle-o  已送达
                    td
                      //- a.remove_dish.btn.btn-floating.btn-large.red(href='#', dish_name='#{name}', dish_options='#{options}') 删除
                      h4 #{name}
                      if options
                        p #{options}
                    td 
                      a.remove_dish_count(href='#', dish_name='#{name}', dish_count='#{count}', dish_options='#{options}') -
                      h5 #{count}
                      a.add_dish_count(href='#', dish_name='#{name}', dish_count='#{count}', dish_options='#{options}') + 
                    td 
                      h4 #{price}
                .section
                tr
                  td -
                  td -
                  td -
                  td
                    h5 总价
                    hr
                    h4 #{total}
        else
          h4
            i.fa.fa-smile-o